/* Modal */
.modalOverlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
}

body.no-scroll {
	overflow: hidden;
}
  
.modalContent {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	width: 630px;
	height: 688px;
	text-align: center;
	justify-items: center;
}

/* Back and Close buttons */
.backAndClose {
    width: 100%;
    display: flex;
	position: relative;
}

.backButton {
	color: black;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.backButton:hover {
	background-color: white;
	color: red;
}

.closeButton {
	position: absolute;
	color: black;
	right: 0px;
    background: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.closeButton:hover {
	background-color: white;
	color: red;
}

/* Modal Gallery */
.galleryContainer {
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
    width: 470px;
}

.galleryContainer h2 {
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: black;
}

.modalGallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px 10px;
    padding-bottom: 50px;
    border-bottom: 2px solid #b3b3b3;
    width: 100%;
}

.modalGallery .image-container {
    position: relative;
    box-sizing: border-box;
}

.modalGallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: black;
    border: none;
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
}

.delete-button i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
}

.delete-button:hover i {
    color: red;
}

.showFormButton {
    width: 237px;
    margin-top: 40px;
}


/* Modal Form */
.formContainer {
	display: flex;
    position: relative;
	flex-direction: column;
    align-items: center;
	width: 470px;
}

.formContainer h2 {
	margin-top: 20px;
	margin-bottom: 50px;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 26px;
	color: black;
}

.modalForm {
	display: flex;
	flex-direction: column;
    width: 470px;
	padding-bottom: 35px;
	border-bottom: 2px solid #b3b3b3;
}

.modalForm label {
    margin-top: 15px;
}

.addImageInput {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    height: 191px;
    background-color: #e8f1f6;
}

.addImageInput i {
	font-size: 76px;
	margin-bottom: 10px;
	color: #b9c5cc;
}

input[type="file"]#image {
    display: none;
}

.addImageInput button {
	width: 170px;
    color: #306685;
	background-color: #cbd6dc;
}

.addImageInput button:hover {
    background-color: #a7a7a7;
}

.addImageInput p {
	margin-top: 5px;
}

.error-image-container {
    height: 15px;
}

/* Conteneur de la prévisualisation */
#imagePreview {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style de l'image dans la prévisualisation */
#imagePreview img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

input {
	color: #444444;
    font-family: 'Work', sans-serif;
    font-size: 16px;
    padding: 20px;
}

.error-title-container {
    height: 15px;
}

#category {
    width: 100%;
    padding: 15px 16px;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
    color: #444;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#category option:disabled {
    color: #aaa;
    font-weight: bold;
}

#category option {
    background-color: #e8f1f6;
    padding: 10px;
}

.addNewWorkButton {
	width: 237px;
	margin-top: 40px;
}

.error-category-container {
    height: 15px;
}

.error-message {
    margin-top: 5px;
    color: red;
}