/* Variables de couleurs */
:root {
	--main-color: #1d6154;  /* Couleur principale */
	--second-color: #0e2f28; /* Couleur secondaire */
	--header-color: #B1663C;  /* Couleur de l'en-tête */
}

/* Reset des éléments HTML de base : cela permet de supprimer les marges, bordures, etc., sur tous les éléments */
html, body, div, span, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Style pour l'en-tête */
header {
	display: flex;
	justify-content: space-between;
}

/* Style pour le body */
body {
	line-height: 1;
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans', sans-serif;  /* Police générale */
	font-size: 14px;
}

/* Structure des titres */
h1 {
	font-family: 'Syne', sans-serif; /* Police pour h1 */
	font-size: 22px;
	font-weight: 800;
	color: var(--header-color);
	display: flex;
	flex-direction: column;
}

h1 > span {
	font-family: 'Work Sans', sans-serif;
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne', sans-serif;  /* Police pour h2 */
	font-size: 30px;
	color: var(--main-color);
}

/* Style de la navigation */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a {
	text-decoration: none;
	color: inherit;
}

nav a:hover {
	color: var(--header-color);
}

nav ul {
	display: flex;
	align-items: center;
	list-style: none;
}

nav li {
	margin: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li:hover {
	color: var(--header-color);
}

button {
	height: 36px;
	cursor: pointer;
	background-color: var(--main-color);
	border-radius: 60px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 700;
	font-family: 'Syne', sans-serif;
	color: white;
}

button:hover {
	background-color: var(--second-color);
}

::placeholder {
	color: #444444;
}

/* Section d'introduction */
#introduction {
	display: flex;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 50px;
	gap: 40px;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 100%;
}

#introduction article {
	flex: 1;
}

/* Section modifier */
.mesProjets {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.mesProjets h2 {
	margin: 0;
}

#openModalLink {
	position: absolute;
	left: calc(50% + 150px);
    transform: translateX(0);
}

/* Section filtre */
.filter {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 40px;
}

.filter button {
	font-size: 16px;
	color: var(--main-color);
	min-width: 100px;
	border-radius: 20px;
	background-color: white;
	border: 1px solid var(--main-color);
	margin-top: 40px;

}

.filter button:hover {
	background-color: var(--second-color);
	color: white;
}

.filter button.active {
	background-color: var(--main-color);
	color: white;
}

/* Galerie */
#portfolio {
    margin: 0 100px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Crée des colonnes flexibles qui remplissent l'espace */
    gap: 20px; /* Espace entre les images */
    width: 100%;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    width: 100%; /* S'assure que chaque image occupe toute la largeur de la cellule */
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery p {
    margin-top: 5px;
}


/* Contact form */
#contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 380px;
}

label {
	align-self: flex-start;
	margin: 30px 0 10px 0;
}

.contactButton {
	width: 180px;
	margin-top: 40px;
}

/* Contact form inputs and textareas */
input {
	width: 100%;
	height: 51px;
	box-sizing: border-box;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	resize: none;
}

textarea {
	width: 100%;
	height: 51px;
	box-sizing: border-box;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	resize: none;
    height: 174px;
}

/* Login modal overlay */
#loginOverlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	align-items: center;
	flex-direction: column;
	margin-top: 100px;
	z-index: 1000;
}

.loginButton {
	width: 180px;
	margin-bottom: 20px;
	margin-top: 40px;
}

/* Error message for login */
#loginError {
	color: red;
}

/* Footer styles */
footer ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
	list-style: none;
}