/* Variables de couleurs */
:root {
	--main-color: #1d6154;
	--second-color: #0e2f28;
	--header-color: #B1663C;
}

/* Style pour l'en-tête */
header {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

/* Style pour le body */
body {
	line-height: 1;
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
}

main {
	margin: 80px;
}

/* Structure des titres */
h1 {
	font-family: 'Syne', sans-serif;
	font-size: 22px;
	font-weight: 800;
	color: var(--header-color);
	display: flex;
	flex-direction: column;
	margin: 15px 10px;
}

h1 > span {
	font-family: 'Work Sans', sans-serif;
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne', sans-serif; 
	font-size: 30px;
	color: var(--main-color);
}

/* Style des boutons */
button {
	height: 36px;
	cursor: pointer;
	background-color: var(--main-color);
	border-radius: 60px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 700;
	font-family: 'Syne', sans-serif;
	color: white;
}

button:hover {
	background-color: var(--second-color);
}

/* Placeholder des champs de saisie */
::placeholder {
	color: #444444;
}

/* Style de la navigation */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a {
	text-decoration: none;
	color: inherit;
}

nav a:hover {
	color: var(--header-color);
}

nav ul {
	display: flex;
	align-items: center;
	list-style: none;
}

nav li {
	margin: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li:hover {
	color: var(--header-color);
}

/* Section d'introduction */
.introduction {
	display: flex;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 50px;
	gap: 40px;
}

.introduction figure {
	flex: 1;
}

.introduction article {
	flex: 1;
}

.introduction img {
	display: block;
	margin: auto;
	width: 100%;
}

.introduction p {
	padding-top: 10px;
	font-family: 'Work Sans', sans-serif;
	font-size: 400;
}

/* Section modifier */
.project {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.project h2 {
	margin: 0;
}

.openModalLink {
	color: black;
	text-decoration: none;
	position: absolute;
	left: calc(50% + 150px);
	transform: translateX(0);
}

/* Section filtre */
.filter {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 40px;
}

.filter button {
	font-size: 16px;
	color: var(--main-color);
	min-width: 100px;
	border-radius: 20px;
	background-color: white;
	border: 1px solid var(--main-color);
	margin-top: 40px;
}

.filter button:hover {
	background-color: var(--second-color);
	color: white;
}

.filter button.active {
	background-color: var(--main-color);
	color: white;
}

/* MainGallery */
.mainGallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    width: 100%;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
	height: 100%;
}

.mainGallery img {
    width: 100%;
    height: 407px;
    object-fit: cover;
}

.mainGallery p {
    padding-top: 5px;
}

/* Contact */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.contact h2 {
	margin: 20px;
}

.contact p {
	margin: 0px;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
	margin-top: 10px;
}

.contactLabel {
    align-self: flex-start;
    margin-bottom: 10px;
	margin-top: 10px;
}

.contactName {
	width: 100%;
	height: 51px;
	box-sizing: border-box;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	resize: none;
}

.contactEmail {
	width: 100%;
	height: 51px;
	box-sizing: border-box;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	resize: none;
}

.contactMessage {
	width: 100%;
	box-sizing: border-box;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	resize: none;
    height: 174px;
}

.contactError {
	margin-top: 5px;
	width: 100%;
	height: 15px;
	color: red;
}

.contactButton {
    width: 180px;
    margin-top: 30px;
}

/* Login overlay */
.loginOverlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	align-items: center;
	flex-direction: column;
	margin-top: 100px;
	z-index: 1000;
}

.loginFormContainer {
	margin-top : 100px;
	width: 380px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loginForm {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.loginLabel {
	align-self: flex-start;
    margin-bottom: 10px;
	margin-top: 34px;
}

.loginEmail {
	width: 100%;
	height: 51px;
	box-sizing: border-box;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	resize: none;
}

.loginPassword {
	width: 100%;
	height: 51px;
	box-sizing: border-box;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	resize: none;
}

.loginButton {
	width: 180px;
	margin-bottom: 20px;
	margin-top: 50px;
}

.loginError {
	color: red;
}

/* Mode édition */
.modeEditionBar {
    width: 100%;
	height: 60px;
	gap: 10px;
    background-color: black;
    color: white;
	display: flex;
	justify-content: center;
	align-items: center;
    font-size: 16px;
	font-family: 'Work Sans', sans-serif;
}

/* Footer styles */
footer ul {
	display: flex;
	justify-content: flex-end;
	margin: 40px;
	list-style: none;
}
