/* Variables de couleurs */
:root {
	--main-color: #1d6154;
	--second-color: #0e2f28;
	--header-color: #B1663C;
}

/* Reset des éléments HTML de base */
html, body, div, span, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

header {
	display: flex;
	justify-content: space-between;
}

body {
	line-height: 1;
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
}

/* Structure des titres */
h1 {
	font-family: 'Syne', sans-serif;
	font-size: 22px;
	font-weight: 800;
	color: var(--header-color);
	display: flex;
	flex-direction: column;
}

h1 > span {
	font-family: 'Work Sans', sans-serif;
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne', sans-serif;
	font-size: 30px;
	color: var(--main-color);
}

/* Navigation */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a {
	text-decoration: none;
	color: inherit;
}

nav a:hover {
	color: var(--header-color);
}

nav ul {
	display: flex;
	align-items: center;
	list-style: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li:hover {
	color: var(--header-color);
}

/* Section introduction */
#introduction {
	display: flex;
	align-items: center;
	margin: 50px;
	gap: 40px;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

/* Section modifier */
#mesProjets {
	display: flex;
	align-items: center;
	justify-content: center;
}

#modifier {
	position: absolute;
	right : 33%;
}

/* Section filtre */
.filter {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 30px;
}

.filter button {
	font-family: 'Syne', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: var(--main-color);
	padding: 9px;
	min-width: 100px;
	border-radius: 20px;
	background-color: white;
	border: 1px solid var(--main-color);
	cursor: pointer;
}

.filter button:hover {
	background-color: var(--second-color);
	color: white;
}

.filter button.active {
	background-color: var(--main-color);
	color: white;
}

/* Galerie */
#portfolio {
	margin: 0 100px;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

.gallery img {
	width: 100%;
}

.gallery p {
	margin-top: 5px;
}

/* Boutons */
input[type="submit"], #modalContent input[type="submit"] {
	height: 50px;
	cursor: pointer;
	font-family: 'Syne', sans-serif;
	font-weight: 700;
	color: white;
	background-color: var(--main-color);
	border-radius: 60px;
	width: 180px;
	display: flex;
	justify-content: center;
	margin: 40px 0;
}

input[type="submit"]:hover {
	background-color: var(--second-color);
}

#modalContent input[type="submit"] {
	width: 38%;
	height: 36px;
	margin-top: 50px;
}

/* Modal */
#modalOverlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
}

body.no-scroll {
	overflow: hidden;
}
  
#modalContent {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	width: 630px;
	height: 688px;
	text-align: center;
	justify-items: center;
}

#closeModal {
	width: 100%;
	background: none;
	border: none;
	font-size: 20px;
	cursor: pointer;
	display: flex;
	justify-content: flex-end;
}

.modalGallery {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.modalGallery h2 {
	margin-top: 20px;
	margin-bottom: 50px;
	font-family:'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 26px;
	color: black;
}

.modalGallery .gallery-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 30px;
	margin: 0 80px;
	padding-bottom: 50px;
	border-bottom: 2px solid #b3b3b3;
}

.modalGallery .image-container {
	width: 18%;
	height: auto;
	position: relative;
}

.modalGallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.delete-button {
	position: absolute;
	top: 10px;
	right: 10px;
	background: black;
	border: none;
	width: 17px;
	height: 17px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 3px;
}

.delete-button i {
	display: flex;
    justify-content: center;
    align-items: center;
    color: white;
	font-size: 12px;
}

.delete-button:hover i {
	color: red;
}

.modalForm {
	flex-direction: column;
	padding: 0 80px;
	width: 100%;
	box-sizing: border-box;
}

.form-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
	padding-bottom: 50px;
	border-bottom: 2px solid #b3b3b3;
}

.modalForm h2 {
	font-family:'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 26px;
	color: black;
	margin: 20px 0 50px;
}

.modalForm input[type="file"] {
	height: 197px;
}

#category {
	height: 50px;
}

/* Contact */
#contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 380px;
}

label {
	align-self: flex-start;
	margin: 30px 0 10px 0;
}

input, textarea {
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	resize: none;
}

#loginOverlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	align-items: center;
	flex-direction: column;
	margin-top: 100px;
}

#loginError {
	color: red;
}

footer ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
	list-style: none;
}